<%= form_for @poll, url: {action: "create"}, html: {class: "poll_form"} do |f| %>
	<%= f.label :title, "Poll Title" %>
  <%= f.text_field :title %>
  <div class="options-fields">
  	<label>Option</label>
  	<input type="text" name="poll[options][]" id="poll_options"></input>
  </div>
  <%= f.submit "Create" %>
<% end %>

<button id="add-option" type="do_nothing">Add Option</button><br>